@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  line-height: 1.25;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

p,
span {
  font-size: 18px;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@media screen and (max-width: 1180px) {
  h1 {
    font-size: 43px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 18px;
  }

  p,
  span {
    font-size: 16px;
  }
}